{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SION</title>

    <!-- bootstrap csss -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/simpletextrotator.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>

<body> 
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <h1><strong>SION.</strong></h1>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
  </div><!-- /.container-fluid -->
</nav>
<div class="center">
    <center>
 <h1 class="demo1" style="font-size: 500%"><strong>Menjadi <span class="rotate">Sponsor, Donatur, Relawan</span>.<strong></h1>
        <center><h2>di <strong>Sistem Informasi Organisasi Nirlaba</strong></h2></center>
        <div class="container">
    <div style="padding: 5%"><a data-animation="ripple" data-toggle="modal" data-target="#login-modal">Mulai</a></div>
</div>
</center>
</div>


<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
                <div class="loginmodal-container">
                    <h1 style="color: #e570e7;"><strong>Masuk</strong> ke akun kamu</h1><br>
                  <form method="POST" action="/login/">
                    {% csrf_token %}
                    <input type="text" name="user" placeholder="Email" required="required"/>
                    <input type="password" name="pass" placeholder="Password" required="required"/>
                    <button type="submit" id="loginbtn" style="display:none;"></button>
                    <button onclick="document.getElementById('loginbtn').click();" data-animation="ripple" class="login loginmodal-submit">Login</button>
                  </form>
                  <div class="login-help">
                    <a href="/register/" style="color: #e570e7;">Belum Bergabung? <strong>Daftar Sekarang</strong></a>
                  </div>
                </div>
            </div>
          </div>

</body>
<script type="text/javascript" src="{% static 'js/jquery.simple-text-rotator.js' %}"></script>
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
