<div class="navbar">
  <a href="/profil_pribadi/profil_relawan">Profile</a>
  <a href="/profil_organisasi">Organisasi</a>
  <a href="/profil_organisasi/form_donasi">Donasi</a>
  <a style="float: right;" href="#">Logout</a>
</div>