body, html {
    height: 100%;
    background: linear-gradient(#f037a5 -60%,#fae62d 140%);
    font-family: 'Open Sans', sans-serif;
    color: #F0F8FF;
}



.center {
    position: absolute;
   top: 30%;
   left: 50%;
   transform: translateY(-30%);
   transform: translateX(-50%);
    }
.navbar {
   background-color: #000;
   border-color: black;
}
:root {
    /* if u want to change the color of
     * the ripple change this value
    */
    --color-ripple: rgba(255,255,255,0.8);
}


.container {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    width: 200px;
    margin: auto;
}
*[data-animation="ripple"] {
    position: relative; /*Position relative is required*/
    height: 100%;
    width: 100%;
    display: block;
    outline: none;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(135deg, #e570e7 0%,#79f1fc 100%);
    box-sizing: border-box;
    text-align: center;
    line-height: 14px;
    font-family: roboto, helvetica;
    font-weight: 200;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
  /*border-radius: 50px;*/
    -webkit-tap-highlight-color: transparent;
}

*[data-animation="ripple"]:focus {
    outline: none;
}

*[data-animation="ripple"]::selection {
    background: transparent;
    pointer-events: none;
}