<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">About</a>
  <div class="dropdown">
    <button class="dropbtn">Registrasi 
      <i class="fa fa-caret-down"></i>
    </button>
    <!-- bisa dropdown kebawah -->
    <div class="dropdown-content">
      <a href="#">User</a>
      <a href="#">Organisasi</a>
    </div>
  </div> 
</div>