{% extends "layout/base.html" %}
{% block content %}
<!-- <style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
		font-size : 40px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
		color : #040F0F;
    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is Purwo.</p>
</div> -->
<!-- <style>
    .right_screen {
        position: ;
        width: 200px;
        height: 50px;
        font-size : 40px;
        top: 20%;
        left: 80%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        color : #040F0F;
    }
</style> -->
<form method="POST" action="{% url 'regis_organisasi:register' %}">
    {% csrf_token %}
  <div class="container">
    <h2>Register Your Organitation</h2>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="nama-org"><b>Nama Organisasi</b></label>
    <input type="text" placeholder="Enter Organization Name" name="nama-org" required>

    <label for="web"><b>Website</b></label>
    <input type="text" placeholder="Enter Website" name="web" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    
    <label for="kecamatan"><b>Kecamatan</b></label>
    <input type="text" placeholder="Enter Kecamatan" name="kecamatan" required>
    
    <label for="kabupaten"><b>Kabupaten</b></label>
    <input type="text" placeholder="Enter Kabupaten" name="kabupaten" required>
    
    <label for="provinsi"><b>Provinsi</b></label>
    <input type="text" placeholder="Enter Provinsi" name="provinsi" required>
    
    <label for="kode-pos"><b>Kode Pos</b></label>
    <input type="text" placeholder="Enter Kode Pos" name="kode-pos" required>
    
    <label for="alamat-lengkap"><b>Jalan/Desa/Kelurahan/No.Rumah</b></label>
    <input type="text" placeholder="Enter Alamat Lengkap" name="alamat-lengkap" required>

    <label for="tujuan-org"><b>Tujuan Organisasi</b></label>
    <input type="text" placeholder="Enter Tujuan Organisasi" name="tujuan-org" required>

    <label for="nama-pgr"><b>Nama Pengurus</b></label>
    <input type="text" placeholder="Enter Nama Pengurus" name="nama-pgr" required>

    <label for="email-pgr"><b>Email Pengurus</b></label>
    <input type="text" placeholder="Enter Email Pengurus" name="email-pgr" required>

    <label for="alamat-pgr"><b>Alamat Pengurus</b></label>
    <input type="text" placeholder="Enter Alamat Pengurus" name="alamat-pgr" required>

    <button type="submit" class="registerbtn">Register</button>

    <!-- <button type="submit" class="registerbtn" href="after_regis">Register</button> -->

      <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
  </div>
  

</form>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
    $("#email").change(function () {
        console.print('haha');
        console.log( $(this).val() );
        email = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "regis_organisasi:validate-email" %}',
            data: {
                'email': email
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Organisasi dengan email ini sudah ada");
                }
            }
        });
    });
</script>

{% endblock %}